.banner-layout {
  width: 100%;
  height: 100%;
  background-image: url('~assets/images/inner-pages-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
