$black: #2e2e2e;
$purple: #443d81;
$lightgray: #c9cbcf;
$lightlightgray: #f5f7f8;
$gray: #777777;
$white: #ffffff;
$red: #ff5959;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;