.form-product {
  .fd-card {
    background-color: $white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 14px;
    border-radius: 8px;

    .card-title {
      color: $purple;
      font-size: 1.125rem;
      font-weight: $weight-bold;

      .v-icon {
        color: inherit;

        &.v-icon {
          font-size: inherit !important;
        }
      }
    }
  }
}