.bsk-text-10px {
  font-size: 0.625rem;
}

.bsk-text-12px {
  font-size: 0.75rem;
}

.bsk-text-14px {
  font-size: 0.875rem;
}

.bsk-text-16px {
  font-size: 1rem;
}

.bsk-text-18px {
  font-size: 1.125rem;
}

.bsk-text-20px {
  font-size: 1.25rem;
}

.bsk-text-22px {
  font-size: 1.375rem;
}

.bsk-text-24px {
  font-size: 1.5rem;
}

.bsk-text-26px {
  font-size: 1.625rem;
}

.bsk-text-28px {
  font-size: 1.75rem;
}

.bsk-text-30px {
  font-size: 1.875rem;
}

.bsk-text-32px {
  font-size: 2rem;
}
